In [1]:
%matplotlib inline
import scipy.stats as stats
from IPython.core.pylabtools import figsize
import numpy as np
import pandas as pd
figsize(12.5, 4)

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [4]:
scores = pd.read_csv("../data/Scores 7 Wonders - Scores.csv")
scores.head()

,Partie,Nb joueurs,Date,Joueur,Ville,Côté,Extension,Rouge,Argent,Merveille,Bleu,Jaune,Violet,Vert,Total,Rang,Rang relatif,Vainqueur
0,1,4,NaN,S,NaN,NaN,base,1,4,10,5,7,0,10,37,4,100%,0
1,1,4,NaN,L,NaN,NaN,base,-6,3,10,13,0,7,13,40,3,67%,0
2,1,4,NaN,C,NaN,NaN,base,13,1,10,9,3,9,4,49,2,33%,0
3,1,4,NaN,A,NaN,NaN,base,12,1,10,26,3,9,0,61,1,0%,1
4,2,5,24/10/2015,A,NaN,NaN,base,-5,3,10,12,0,9,21,50,3,50%,0

In [5]:
scores.columns

Index([u'Partie', u'Nb joueurs', u'Date', u'Joueur', u'Ville', u'Côté',
       u'Extension', u'Rouge', u'Argent', u'Merveille', u'Bleu', u'Jaune',
       u'Violet', u'Vert', u'Total', u'Rang', u'Rang relatif', u'Vainqueur'],
      dtype='object')

In [ ]:
couleurs = scores[[u'Rouge', u'Argent', u'Merveille', u'Bleu', u'Jaune',
       u'Violet', u'Vert']]
couleurs_r = couleurs.divide(couleurs.sum(axis=0))
couleurs_r.head()